# Montage automatique vers /home/user/Desktop/

# Importation de certains attributs du peripherique par le biais de la commande "blkid"
IMPORT{program}="/sbin/blkid -o udev -p %N"
  
# Creation d'une variable "name" qui representera le nom du futur point de montage
ENV{ID_FS_LABEL}!="", ENV{name}="%E{ID_FS_LABEL}"  
ENV{ID_FS_LABEL}=="", ENV{name}="usb%k"
ENV{path_mount}="/home/clement/Desktop/%E{name}"

# Creation du point de montage dans le dossier /home/user/Desktop
KERNEL=="sd[a-z][0-9]", ACTION=="add", SUBSYSTEMS=="usb", SUBSYSTEM=="block", ENV{ID_FS_USAGE}=="filesystem", RUN+="/bin/mkdir -p %E{path_mount}", RUN{program}+="/usr/bin/systemd-mount --no-block --automount=yes --collect $devnode %E{path_mount}"
  
# Demontage et suppression du point de montage
KERNEL=="sd[a-z][0-9]", ACTION=="remove", RUN{program}+="/usr/bin/systemd-umount $devnode %E{path_mount}", RUN+="/bin/rmdir %E{path_mount}"

  

