#ACTION=="add", SUBSYSTEM=="usb", RUN+="/bin/sh -c 'bin/echo %n : %k : %p : %c : $kernel : $id : $driver : $name : $sys : $devnode>> /home/clement/Desktop/events'"
# SUBSYSTEM=="usb", NAME="coucou/%n", RUN+="/bin/sh -c 'bin/echo %n >> /home/clement/Desktop/test'"
#KERNEL=="sd?1", ACTION=="add", SUBSYSTEM=="usb", NAME="clem", RUN+="/bin/sh -c 'bin/echo %n >> /home/clement/Desktop/test'"
#ACTION=="add", SUBSYSTEM=="usb", RUN+="/home/clement/Desktop/test.sh /media/%E{dir_name}"
#ACTION=="add", SUBSYSTEM=="usb", RUN+="/home/clement/Desktop/test.sh %k"
#ACTION=="add", SUBSYSTEM=="usb", RUN+="/bin/mount -U $env{ID_FS_UUID} /home/clement/Desktop/usb/"
#ACTION=="add", BUS=="usb", SYMLINK+="testclem"
#ACTION=="add", SUBSYSTEM=="usb", RUN+="sudo /home/clement/Desktop/test2.sh %k"
#ACTION=="add", SUBSYSTEM=="usb", RUN+="/bin/mount /dev/sdb1/ /home/clement/Desktop/test/"
#ACTION=="add", SUBSYSTEM=="usb", RUN+="/home/clement/Desktop/test2.sh hello"


#ACTION=="add", SUBSYSTEM=="usb", RUN+="/home/clement/Desktop/test.sh %k"
#ACTION=="add", SUBSYSTEM=="usb", ATTR{serial}=="0000:00:0b.0", RUN+=/home/clement/Desktop/test2.sh"

#################

#KERNEL!="sd[a-z][0-9]", GOTO="media_by_label_auto_mount_end"  
# Import FS infos  
#IMPORT{program}="/sbin/blkid -o udev -p %N"  
# Get a label if present, otherwise specify one  
#ENV{ID_FS_LABEL}!="", ENV{dir_name}="%E{ID_FS_LABEL}"  
#ENV{ID_FS_LABEL}=="", ENV{dir_name}="usbhd-%k"  
# Global mount options  
#ACTION=="add", ENV{mount_options}="relatime"  
# Filesystem-specific mount options  
#ACTION=="add", ENV{ID_FS_TYPE}=="vfat|ntfs", ENV{mount_options}="$env{mount_options},utf8,gid=100,umask=002"  
# Mount the device  
#ACTION=="add", RUN+="/bin/mkdir -p /media/%E{dir_name}", RUN+="/bin/mount -o $env{mount_options} /dev/%k /media/%E{dir_name}"  
#ACTION=="add", RUN+="/home/clement/Desktop/script.sh"
# Clean up after removal  
#ACTION=="remove", ENV{dir_name}!="", RUN+="/bin/umount -l /media/%E{dir_name}", RUN+="/bin/rmdir /media/%E{dir_name}"  
# Exit  
#LABEL="media_by_label_auto_mount_end"

#########################################"

#ACTION=="add", SUBSYSTEMS=="usb", SUBSYSTEM=="block", ENV{ID_FS_USAGE}=="filesystem", RUN+="mkdir ", RUN{program}+="/usr/bin/systemd-mount --no-block --automount=yes --collect $devnode /home/clement/Desktop/usb"


##########################################

KERNEL!="sd[a-z][0-9]", GOTO="media_by_label_auto_mount_end"  
# Import FS infos  
IMPORT{program}="/sbin/blkid -o udev -p %N"  
# Get a label if present, otherwise specify one  
ENV{ID_FS_LABEL}!="", ENV{dir_name}="%E{ID_FS_LABEL}"  
ENV{ID_FS_LABEL}=="", ENV{dir_name}="usbhd-%k" 
#ENV{path_usb}="/home/clement/Desktop/" 
# Global mount options  
#ACTION=="add", ENV{mount_options}="relatime"  
# Filesystem-specific mount options  
#ACTION=="add", ENV{ID_FS_TYPE}=="vfat|ntfs", ENV{mount_options}="$env{mount_options},utf8,gid=100,umask=002"  
# Mount the device
ACTION=="add", SUBSYSTEMS=="usb", SUBSYSTEM=="block", ENV{ID_FS_USAGE}=="filesystem", RUN+="/bin/mkdir -p /home/clement/Desktop/%E{dir_name}", RUN{program}+="/usr/bin/systemd-mount --no-block --automount=yes --collect $devnode /home/clement/Desktop/%E{dir_name}"
#ACTION=="add", RUN+="/bin/mkdir -p /media/%E{dir_name}", RUN+="/bin/mount -o $env{mount_options} /dev/%k /media/%E{dir_name}"  
# Clean up after removal  
#ACTION=="remove", ENV{dir_name}!="", RUN+="/bin/umount -l /media/%E{dir_name}", RUN+="/bin/rmdir /media/%E{dir_name}"  
ACTION=="remove", RUN{program}+="/usr/bin/systemd-umount $devnode /home/clement/Desktop/%E{dir_name}", RUN+="/bin/rmdir /home/clement/Desktop/%E{dir_name}"

# Exit  
LABEL="media_by_label_auto_mount_end"


ENV{path_device_log}="/home/clement/Desktop/device.log"
ENV{path_script_create_log}="/home/clement/Desktop/create_log.sh"
ENV{serial_device}=ATTR{serial}
ENV{ID_FS_LABEL}!="", ENV{dir_name}="%E{ID_FS_LABEL}"
KERNEL=="sd[a-z][0-9]", ACTION=="add", RUN+="%E{path_script_create_log} %E{path_device_log} %E{dir_name} %k connexion"
KERNEL=="sd[a-z][0-9]", ACTION=="remove", RUN+="%E{path_script_create_log} %E{path_device_log} %E{dir_name} %k deconnexion"
#KERNEL=="sd[a-z][0-9]", ACTION=="add", RUN+="/bin/sh -c 'bin/echo %E{dir_name} connexion >> /home/clement/Desktop/device.log'"
#KERNEL=="sd[a-z][0-9]", ACTION=="remove", RUN+="/bin/sh -c 'bin/echo %E{dir_name} deconnexion >> /home/clement/Desktop/device.log'"
